header{
display: grid;
grid-template-columns: 1fr min-content 1fr;
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 18px;
align-items:center;
background: white;
padding: 92px 50px 96px 50px;
}

.header__logo-image{
  display: block;
  width: 145px;
  height: 105px;
}

.header__links-list{
  display: flex;
  text-wrap: nowrap;
  gap: 32px;
  list-style:circle;
}

.header__links-list-item_about{
margin-left: 3px;
}

.header__links-list-item{
  text-underline-offset: 4px;
}

.header__link_active{
  text-decoration: none;
}

.header__links-list-item_no-bullit{
  list-style: none;
}

.header__address{
display: flex;
flex-direction: column;
align-items: flex-start;
font-style: normal;
max-width:240px;
justify-self: end;
padding-right: 5px;
text-underline-offset: 3px;
line-height:25px;
}

.header__link{
  text-underline-offset: 4px;
}

.mail{
  text-underline-offset: 4px;
}

.address_street{
width: 236.49px;
padding-top: 1px;
padding-left: 1px;
line-height:23px;
}

.cover{
display: grid;
position: relative;
font-family: 'Raleway', sans-serif;
z-index: -2;
background-image: url(../images/cover.jpg) ;
background-size: cover;
background-position: center;
max-height: 757px;
color: white;
}

.overlay{
position: absolute;
z-index: -1;
min-height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.6);
}

.cover_title{
width: 1000px;
letter-spacing: 2rem;
text-transform: uppercase;
font-size: 65px;
color: white;
line-height: 1.15;
margin: 167px 50px 207px 50px;
}

.aligned-text{
  display: block;
}

.aligned-text_center{
padding-top: 24px;
padding-left: 32px;
text-align: center;
}

.aligned-text_right{
padding-top: 22px;
padding-left: 615px;
text-align: right;
}

.cover__description{
  padding-top: 108px;
  display: flex;
  align-items:center ;
  justify-content: space-between;
  gap: 107px;
  font-size:22px;
  letter-spacing: 0px;
}

.cover__description_text{
  font-weight:400;
  word-spacing: 18.5px;
  justify-self: start;
  text-wrap: nowrap;
}

.bet_button{
  width: 256px;
  height: 51px;
  text-transform:uppercase;
  font-weight: 400;
  color: white;
  border-width: 1px currentColor;
  border-color: white;
  background: none;
}

.lots{
  margin-top: 180px;
  margin-left: 24px;
  margin-right: 24px;
  color: white;
}

.lots__heading{
  text-transform: uppercase;
  font-size: 40px;
  padding-left: 40px;
  color: black;

}

.lots__card-list{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding-top: 27px;
}

.lots__card-list-item{
 display: flex;
 position: relative;
 flex-direction:column;
 width: 334px;
 min-height:596px;
 background-color: black;
}

.card-link{
  display: flex;
  justify-content:space-between;
  text-decoration: none;
  height: 100%;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position:relative;
  z-index: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card__title{
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
  justify-content: start;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.card__text{
  font-size: 20px;
  font-weight: 400;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  justify-content: end;

}

.card_type_film{
  background-image: url(../images/card-lot-01.jpg);
} 

.card_type_book{
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture{
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link{
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-top:  30px;
  margin-left: 40px;
}

.lots__look-more-link_underline{
  text-decoration: underline 1px;
  text-underline-offset: 5px;
}

.about{
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
}

.about__column{
  display: grid;
  align-items: start;
  justify-items: center;
  height: 100%;
  grid-template-columns: 334px 1fr;  
}

.about__logo{
  display: flex;
  justify-content: center; 
  align-items: center;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background-color: black;
  margin-top: 34px;
}

.about__logo-image{
  width: 148px;
  height: 114px;
}

.about__title{
  justify-self: start;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  padding-top: 135px;
  padding-left: 25px;
}

.about__text{
  display: flex;
  max-width: 710px;
  flex-direction:column;
  grid-row:2;
  grid-column: 2;
  padding-top: 9px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 400;
  gap:23px;
}

.footer{
  display: grid;
  align-items:center;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 180px;
  font-size: 18px;

}

.footer__address{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  max-width:240px;
  justify-self: end;
  padding-right: 5px;
  text-underline-offset: 3px;
  line-height:25px;
  justify-self: start;
  font-weight: 400;
  font-size: 18px;
  padding-left: 50px;
}

.address_street{
  width: 500px;
}

.footer{
  margin-bottom: 82px;
}

.footer__menu{
  justify-self: center;
}

.footer__menu-list{
  display: flex;
  align-items: center;
  flex-direction:column;
  list-style: none;
  text-underline-offset: 4px;
  padding-bottom:34px;
}

.footer__menu-link_active{
  text-decoration: none;
}

.footer__social-list{
  justify-self: end;
}

.footer__social-list{
  display: flex;
  list-style: none;
  gap: 48px;
  padding-right: 50px;
  padding-bottom: 47px;
}

.footer__social-icon{
  width: 48px;
  height: 48px;
}
