header{
display: grid;
grid-template-columns: 1fr min-content 1fr;
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 18px;
align-items:center;
background: white;
padding: 92px 50px 96px 50px;
}

.header__logo-image{
  display: block;
  width: 145px;
  height: 105px;
}

.header__links-list{
  display: flex;
  text-wrap: nowrap;
  gap: 32px;
  list-style:circle;
}

.header__links-list-item_about{
margin-left: 3px;
}

.header__links-list-item{
  text-underline-offset: 4px;
}

.header__link_active{
  text-decoration: none;
}

.header__links-list-item_no-bullit{
  list-style: none;
}

.address{
display: flex;
flex-direction: column;
align-items: flex-start;
font-style: normal;
max-width:240px;
justify-self: end;
padding-right: 5px;
text-underline-offset: 3px;
line-height:25px;
}

.number{
  text-transform: uppercase;
  text-underline-offset: 4px;
}

.mail{
  text-underline-offset: 4px;
}

.address_street{
width: 236.49px;
height: 49px;
padding-top: 1px;
padding-left: 1px;
line-height:23px;
}

.cover{
display: grid;
font-family: 'Raleway', sans-serif;
height: 757px;
width: 1100px;
background-image: url(../images/cover.jpg) ;
background-size: cover;
background-position: -138px;
color: white;
}

.overlay{
width: 1100px;
height: 757px;
background-color: rgba(0, 0, 0, 0.6);
}

.cover_title{
width: 1000px;
height: 385px;
letter-spacing: 0.3em;
text-transform: uppercase;
font-weight: 700;
font-style: normal;
color: white;
margin: 165px 50px 207px 50px;
}

.aligned-text{
  display: block;
}

.aligned-text_left{
font-size: 100px;
/*letter-spacing: 30px;*/
justify-self: left;
}

.aligned-text_center{
font-size: 100px;
/*letter-spacing: 30px;
padding-top: 18px;
padding-left: 30px;*/
justify-self: center;
}

.aligned-text_right{
/*width: 387px;
height: 115px;
letter-spacing:31px;
font-size: 100px;
padding-top: 16px;*/
justify-self: end;
}

.cover__description{
  width:1000px ;
  height: 51px;
  display: grid;
  align-items:center;
  grid-template-columns: 1fr 1fr;
  padding: 124px 50px 50px 50px;
  color: white;
}

.cover__description-text{
  font-weight:400;
  word-spacing: 20px;
  font-size:22px;
  padding-right: 10px;
  justify-self: start;
  text-wrap: nowrap;
}

.bet-button{
  text-transform:uppercase;
  font-weight: 400;
  font-size:22px;
  color: white;
  width: 256px;
  height: 51px;
  justify-self: end;
  border-width: 1px;
  margin-left: 23px;
  border-color: white;
  background: none;
}
