header{
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items:center;
width: 1100px;
height: 293px;
background: white;
}

.menu{
display: flex;
justify-content: space-around;
list-style:circle;
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 18px;
padding: 133px 36px 136px 50px;
gap: 32px;
text-underline-offset: 5px;
}

.logo_header{
width: 148px; 
height: 105px;
}

.contacts{
display: flex;
flex-direction: column;
width: 240px;
height: 98px;
justify-self: end;
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 18px;
font-style: normal;
margin:  95px 50px 100px 184px;
}

.li_main{
  list-style-type: none;
}

.li_a_main{
  text-decoration: none;
}

.number{
text-decoration: underline 1px;
text-underline-offset: 4px;
}

.mail{
  text-decoration: underline 1px;
  text-underline-offset: 4px;
}

.cover{
height: 757px;
width: 1100px;
background-image: url(../images/cover.jpg) ;
background-size: cover;
}

.cover_background_opacity{
width: 1100px;
height: 757px;
background-color: rgba(0, 0, 0, 0.6);
}

.cover_title{
font-family: 'Raleway', sans-serif;
font-size: 100px;
font-weight: 700;
text-transform: uppercase;
color: white;
}

